@import "variables";
@import "vendor/slick";

.learn-video-slider {
  margin-left: -10px;
  margin-right: -10px;

  .slick-slide {
    img {
      height: 135px;
      width: 100%;
      object-fit: cover;
    }
  }

  .video-item {
    cursor: pointer;
    outline: none;
    text-align: center;
    padding: 10px;
    position: relative;

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }

    h4 {
      font-size: 22px;

      @media all and (max-width: $grid-float-breakpoint) {
        font-size: 20px;
      }

      @media all and (max-width: $screen-sm-min) {
        font-size: 18px;
      }
    }

    .video_bug{
      opacity: 0.85;
      position: absolute;
      top: 130px;
      right: 3px;
      height: 23px;
      width: 32px;
    }

    .demo_bug {
      opacity: 0.85;
      position: absolute;
      top: 130px;
      right: 3px;
      height: 23px;
      width: 32px;
    }
  }

  .slick-arrow {
    background: $dropdown-link-hover-color;

    &:hover {
      background: darken($dropdown-link-hover-color, 5%);
    }
  }

  .slick-arrow-prev,   // sass-lint:disable-line empty-line-between-blocks
  .slick-arrow-next {  // sass-lint:disable-line empty-line-between-blocks
    top: 53px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    position: absolute;

    i {
      color: $color-white;
    }
  }

  .slick-arrow-next {
    right: -40px;

    @media all and (max-width: $screen-sm-min) {
      right: 0;
    }
  }

  .slick-arrow-prev {  // sass-lint:disable-line empty-line-between-blocks
    left: -40px;

    @media all and (max-width: $screen-sm-min) {
      left: 0;
    }
  }
}

#learnVideoCarouselModal .btn {   // sass-lint:disable-line id-name-format
  color: #333333;
}
